@import 'includes/vars';
@import 'includes/solarized-dark';
@import 'includes/mixins';
@import 'node_modules/overlayscrollbars/css/OverlayScrollbars';
@import 'includes/fonts';

html {
  body {
    #container {
      @media screen and (min-width: 768px) {
        > header {
          fieldset {
            input {
              padding: 0.5em;
              background-color: $background-hl-color;
              width: 10em;
            }
          }

          input#searchbox {
            font-family: $formfont;
            border-width: 0 1px 1px 1px;
            outline: none;
          }
        }
      }

      #content {
        article {
          section {

          }
        }
        section#monthly-archive {
          header {
            @media screen and (max-width: 767px) {
              h1 {
                @include top-title-narrow;
              }
            }
            @media screen and (min-width: 768px) {
              h1 {
                @include top-title-wide;
              }
            }
          }
        }
        section#archive-index {
          header {
            @media screen and (max-width: 767px) {
              h1 {
                @include top-title-narrow;
              }
            }
            @media screen and (min-width: 768px) {
              h1 {
                @include top-title-wide;
              }
            }
          }
          nav {
            ul {
              list-style-type: none;
              li.year {
                font-size: 1.5rem;
                margin-top: 1.5rem;
              }
            }
          }
        }
        #searchresults {
          header {
            @media screen and (max-width: 767px) {
              h1 {
                @include top-title-narrow;
              }
            }
            @media screen and (min-width: 768px) {
              h1 {
                @include top-title-wide;
              }
            }
          }
          mark {
            background-color: transparent;
            color: $primary-highlight-color;
            font-weight: bold;
          }

          nav {
            ul#pager {
              list-style-type: none;
              padding-left: 0;

              li {
                display: inline-block;

                a {
                  padding: 0.5rem;
                  border: 1px solid $background-hl-color;
                  border-right: 0;

                  &.current {
                    background-color: $background-hl-color;
                  }
                }

                a:last-child {
                  border-right: 1px solid $background-hl-color;
                }
              }

              @media screen and (max-width: 768px) {
                a.absolutePage {
                  display: none;
                }
              }
            }
          }

          ol {
            padding: 0;
            list-style-type: none;

            li {
              article.searchresult {
                padding: 0;
                margin: 0 0 4rem 0;

                header {
                  min-height: 0;

                  time {
                    float: right;
                    width: auto;
                    height: auto;
                    font-size: 0.7rem;
                  }

                  h2 {
                    font-weight: 400;
                    text-align: left;
                    font-size: 1.5rem;
                  }
                }
              }
            }
          }

          div#spinner {
            &.hidden {
              display: none;
            }

            margin: 100px auto 0;
            width: 70px;
            text-align: center;


            > div {
              width: 18px;
              height: 18px;
              background-color: #333;

              border-radius: 100%;
              display: inline-block;
              -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
              animation: sk-bouncedelay 1.4s infinite ease-in-out both;
            }

            div.bounce1 {
              -webkit-animation-delay: -0.32s;
              animation-delay: -0.32s;
            }

            div.bounce2 {
              -webkit-animation-delay: -0.16s;
              animation-delay: -0.16s;
            }

            @-webkit-keyframes sk-bouncedelay {
              0%, 80%, 100% {
                -webkit-transform: scale(0)
              }
              40% {
                -webkit-transform: scale(1.0)
              }
            }

            @keyframes sk-bouncedelay {
              0%, 80%, 100% {
                -webkit-transform: scale(0);
                transform: scale(0);
              }
              40% {
                -webkit-transform: scale(1.0);
                transform: scale(1.0);
              }
            }
          }
        }
      }
    }
  }
}
