blog/_site
.jekyll-cache
.idea
*.iml
blog/_web/node_modules
blog/_web/ts/*.js
blog/_web/yarn-error.log

blog/_web/.yarn/*
!blog/_web/.yarn/patches
!blog/_web/.yarn/releases
!blog/_web/.yarn/plugins
!blog/_web/.yarn/sdks
!blog/_web/.yarn/versions
.pnp.*

blog/assets
blog/vendor
searchIndexServer/generate_index
searchIndexServer/search_server
searchIndex
