<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="google-site-verification" content="Sr-L2EMmHr-hc4npzb8p1f7zi9ew1Iev84ly519r1p4"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} :: growse.com</title>
    <link rel="alternate" title="RSS Feed" href="/feed.xml" type="application/rss+xml"/>
    <link rel="shortcut icon" type="image/png" href="{% asset favicon @path %}"/>
    <link rel="icon" type="image/png" href="{{ assets['favicon.png'].digest_path }}"/>
    <style rel="stylesheet">{% asset critical.scss @inline %}</style>
</head>
<body>
<div id="container" itemtype="http://schema.org/Blog" itemscope>
    <header>
        <h1 id="titletext"><a href="/" title="Home">growse.com</a></h1>

        <h2 id="about">I write things here.</h2>

        <div id="search">
            <form action="/search.html" method="get">
                <fieldset>
                    <input placeholder="Search for things" id="searchbox" type="text" name="a" class="searchtext"/>
                </fieldset>
            </form>
        </div>
        <p>I'm on <a href="https://keybase.io/growse" title="Keybase">Keybase</a>.</p>
        <div id="location">
        </div>
    </header>

    <nav class="nano">
        <ul id="articlenav" class="nano-content">
        </ul>
    </nav>