@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Open Sans Light'), url("/assets/fonts/opensans-300.woff") format('woff')
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), url("/assets/fonts/opensans-400.woff") format('woff')
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Inconsolata'), url("/assets/fonts/inconsolata-500.woff") format('woff')
}

@font-face {
  font-family: 'Andada';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Andada'), url("/assets/fonts/andada-400.woff") format('woff')
}
