$background-hl-color: #333;
$background-color: #222;
$font-color: #aaa;

$primary-highlight-color: #f90;
$secondary-highlight-color: #57d;

$sansfont: 'Open Sans', Trebuchet, Sans;
$seriffont: 'Andada', Georgia, serif;
$monospacefont: 'Inconsolata', monospace;

$headlinefont: $sansfont;
$bodyfont: $seriffont;
$navlinkfont: $sansfont;
$articlesectionheadingfont: $sansfont;
$subheadlinefont: $seriffont;
$archivenavfont: $sansfont;
$formfont: $sansfont;
$pagetitlefont: $sansfont;
$datefont: $sansfont;

$lefthandwidth: 200px;
$default-prefixes: webkit moz ms o;