@import 'includes/vars';
@import 'includes/solarized-dark';
@import 'includes/mixins';
@import 'node_modules/overlayscrollbars/css/OverlayScrollbars';
@import 'includes/fonts';

html {
  body {
    #container {
      @media screen and (min-width: 768px) {
        > header {
          fieldset {
            input {
              padding: 0.5em;
              background-color: $background-hl-color;
              width: 10em;
            }
          }

          input#searchbox {
            font-family: $formfont;
            border-width: 0 1px 1px 1px;
            outline: none;
          }
        }
      }

      #content {
        &.nonav {
          margin-left: 0;
        }

        #searchresults {
          nav {
            #paginator {
              float: right;
            }
          }

          ol {
            padding: 0;
            list-style-type: none;

            li {
              article.searchresult {
                padding: 0;
                margin: 0 0 4rem 0;

                header {
                  min-height: 0;

                  time {
                    float: right;
                    width: auto;
                    height: auto;
                    font-size: 0.7rem;
                  }

                  h2 {
                    font-weight: 400;
                    text-align: left;
                    font-size: 1.5rem;
                  }
                }

                mark {
                  background-color: transparent;
                  color: inherit;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }
  }
}