name: Build, package and upload
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-site:
    name: Build Site
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: ruby/setup-ruby@v1
        with:
          working-directory: ./blog
          bundler-cache: true
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: "22"
          cache: "npm"
          cache-dependency-path: "blog/_web/package-lock.json"
      - name: Build
        run: make blog/_site
      - name: Upload build artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: site
          path: blog/_site

  build-search-tools:
    runs-on: ubuntu-latest
    name: Build search tools
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5
        name: Go modules cache restore
        id: golang-cache
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Build
        run: make searchIndexServer/search_server searchIndexServer/generate_index
      - name: Upload build artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: searchIndexServer
          path: |
            searchIndexServer/generate_index
            searchIndexServer/search_server

  create-search-index:
    runs-on: ubuntu-latest
    name: Create search index
    needs:
      - build-search-tools
      - build-site
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
      - name: Create Index
        run: chmod +x searchIndexServer/generate_index && ./searchIndexServer/generate_index
        env:
          SEARCH_INDEXROOT: site
      - name: Upload build artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: searchIndex
          path: searchIndex
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request'
    needs:
      - build-search-tools
      - build-site
      - create-search-index
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Download site build artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
        with:
          name: site
          path: blog/_site
      - name: Download searchTools build artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
        with:
          name: searchIndexServer
          path: searchIndexServer
      - name: Download searchIndex build artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
        with:
          name: searchIndex
          path: searchIndex
      - uses: superfly/flyctl-actions@fc53c09e1bc3be6f54706524e3b82c4f462f77be # 1.5
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
        with:
          args: "deploy"
      - name: Ping site maps
        run: |
          curl http://www.bing.com/ping?siteMap=https%3A%2F%2Fwww.growse.com%2Fsitemap.xml
          curl https://www.google.com/ping?sitemap=https%3A%2F%2Fwww.growse.com%2Fsitemap.xml
